
section.services-section.section-padding {
    padding-bottom: 50px;
}

.services-section {
    background: #f1f2f3;
}

.services-title h4 {
    padding-left: 80px;
    font-weight: 800;
    color: #003445;
    font-size: 18px;
    line-height: 60px;
    transition: .4s;
    text-transform: uppercase;
}

.services-title span {
    background: #76B947;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    transition: .4s;
    color: #fff;
    font-size: 20px;
}

.single-services p {

    padding-top: 20px;
    font-size: 15px;
    line-height: 26px;
    transition: .4s;
}

.single-services a {
    color: #003445;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    transition: .4s;
}

.single-services a span {
    padding-left: 7px;
    font-weight: 600;
}

.single-services:hover .services-title span {
    background-color: #003445;
    color: #fff;
}

.single-services:hover a {
    color: #76B947;
}

.single-services {
    padding-bottom: 50px;
}

.more-services-button a.art-btn {
    width: 230px;
}

/*responsive query*/

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
.services-title h4{
        line-height: normal;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-title h4{
        line-height: normal;
    }
}

@media only screen and (max-width: 767px) {
    .services-title h4 {
        font-size: 17px;
        line-height: normal;
    }
    .single-services p {
        padding-top: 10px;
    }

.more-services-button a.art-btn {
  margin-top: 0;
}
.more-services-button {
  text-align: left;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {}